<container>
	<row>
		<columns small="12" large="12">
			<center>
				<table border="0" cellspacing="0" cellpadding="0" style="width: auto">
					<tr>
							<td align="center" style="border-radius: 26px;" bgcolor="#fff">
									<a href="{{article-URL}}" target="_blank" style="font-size: 16px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: #676767; text-decoration: none; border-radius: 26px; padding: 14px 26px; border: 1px solid #676767; display: block;">{{main-CTA-text}} &rarr;</a>
							</td>
					</tr>
			</table>
		</center>
		</columns>
	</row>
</container>
