<container>
  <row>
    <columns large="12" small="12">
{{# markdown}}
Friends,

Summer is at an end, kids are headed back to school, and this year's football season is under way. As we enter fall, We wanted to reach out to you for a small favor.

We hope you have appreciated the video emails We regularly **send out each month**, addressing trends in, changes to, and tips for navigating the world of lending and real estate.

**This is where We would like your help.** Rather than simply guess what’s on your mind, We want to reach out and ask you what questions you have about the mortgage and real estate world.

Are there any concepts that confuse you? Are you curious about the market in a particular area?

**We would love to answer your specific questions in my videos,** so other people with similar questions can benefit from them too.

Please take a second to reply with a question and you just might hear the answer in my next video!

Visit our blog to view my previous educational videos.

Let's keep in touch. Follow us on Facebook.

To sweeten the deal, if We answer your question with a video, **we will send you a $25 gift card!**

The Roth Team
Shorewest Realtors
(262) 797-6453
mroth@shorewest.com
{{/markdown}}
    </columns>
  </row>
</container>
