<container>
  <row>
    <columns large="12" small="12">{{# markdown}}
      Friends and clients,

      I have your email since you registered for this webinar last week.

      Here is the replay of the webinar with Vyral Client Damon Gettier about the Facebook Ads working for his real estate business.

      You'll see his live examples:

      https://www.youtube.com/watch?v=NUlgwEhbspM

      **We'll set up your first Facebook ad for free as part of our new Advertising Premier Service. Based on availability.**

      Here are the details and to request an advertising consultation: http://www.getvyral.com/premier/advertising

      Here's what Damon says about his results:

      **_"My leads are going up 10-15% every month since implementing Facebook and YouTube advertising. I know this since I haven't spent any other additional money on lead-generation this year. We’re at 550 leads a month now. These leads come in everywhere - phone calls, emails, registrations on my website, Facebook messages, and more. It is all people reaching out to us. Vyral Marketing understands the real estate industry and are simply the best at it. They “get it” when it comes to the right messaging and work with me for language to speak to my local market. Hire them to do your ads."_**

      Damon Gettier - $1.5 Million GCI Producer in Roanoke, VA

      We're here to help if you're interested.

      You can learn more about our core program to get more sales from your #1 existing business asset - your database - with video marketing at www.getvyral.com.

      Thanks for registering for the webinar! Enjoy the replay....​

      Sincerely,

      Frank Klesitz, CEO
      [Vyral Marketing](www.getvyral.com)
      {{/markdown}}</columns>
  </row>
</container>
