<container>
		<row>
			<columns small="12" large="6" style="padding: 20px 0 0 0;">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td align="center" style="padding-bottom: 5px;">
								<span align="left" style="color: #676767; font-size: 16px; font-family: Open Sans, Helvetica, Arial, sans-serif;"><center>{{secondary-CTA-header}}</center></span>
							</td>
						</tr>
					</table>
					<table border="0" cellspacing="0" cellpadding="0">
							<tr>
									<td align="left" width="50px;">
										<table cellspacing="0" cellpadding="0" border="0" width="50px">
											<tr>
													<td>
															<a href="{{secondary-CTA-URL}}" target="_blank">
															<img src="{{secondary-CTA-image}}" alt="" width="50px" />
															</a>
													</td>
											</tr>
										</table>
									</td>
									<td>
									<table cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr>
											<td>
												<a href="{{secondary-CTA-URL}}" target="_blank" style="font-size: 16px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: {{brand-color}}; text-decoration: none; border-radius: 26px; padding: 14px 10px; display: block;">{{secondary-CTA-text}} &rarr;</a>
										</td>
									</tr>
								</table>
									</td>
							</tr>
					</table>
			</columns>
			<columns small="12" large="6" align="center" style="padding: 20px 0 0 0;">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td align="center" style="padding-bottom: 5px;">
								<span align="center" style="color: #676767; font-size: 16px; font-family: Open Sans, Helvetica, Arial, sans-serif;"><center>{{third-CTA-header}}</center></span>
							</td>
						</tr>
					</table>
					<table border="0" cellspacing="0" cellpadding="0">
							<tr>
									<td align="left" width="50px;">
										<table cellspacing="0" cellpadding="0" border="0" width="50px">
											<tr>
													<td>
														<a href="{{third-CTA-URL}}" target="_blank">
															<img src="{{third-CTA-image}}" alt="" width="50px" />
														</a>
													</td>
											</tr>
										</table>
									</td>
									<td>
									<table cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr>
												<td>
											<a href="{{third-CTA-URL}}" target="_blank" style="font-size: 16px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: {{brand-color}}; text-decoration: none; border-radius: 26px; padding: 14px 10px; display: block;">{{third-CTA-text}} &rarr;</a>
										</td>
									</tr>
								</table>
									</td>
							</tr>
					</table>
			</columns>
		</row>
</container>
